@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

html {
  font: 100%/1.5 "Open Sans", sans-serif;
  height: 100%;
}

body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#202226+0,1c1e22+100 */
  background: #202226;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #202226 0%, #1c1e22 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202226', endColorstr='#1c1e22',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

#app {
  font-size: 14px;
}

#app .login-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 100%;
}

@media (max-width: 768px) {
  #app .login-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#app .login-container .left-col {
  background-color: #fff;
  min-width: 400px;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 30px;
}

@media (max-width: 981px) {
  #app .login-container .left-col {
    min-width: 300px;
  }
}

@media (max-width: 768px) {
  #app .login-container .left-col {
    display: block;
    padding: 0 20px;
  }
}

#app .login-container .left-col .login-wrapper {
  width: 100%;
  padding: 20px 0 40px;
}

@media (min-width: 769px) {
  #app .login-container .left-col .login-wrapper {
    margin-top: -200px;
    padding: 0;
  }
}

#app .login-container .left-col .login-wrapper h2 {
  color: #bfa819;
  font-weight: 300;
  font-size: 38px;
  letter-spacing: 4px;
}

@media (max-width: 981px) {
  #app .login-container .left-col .login-wrapper h2 {
    font-size: 1.4em;
  }
}

#app .login-container .left-col .login-wrapper form .form-row:nth-child(2) {
  margin: 15px 0;
}

#app .login-container .left-col .login-wrapper form .form-row label {
  font-size: 11px;
  text-transform: uppercase;
  color: #252525;
  display: block;
  letter-spacing: 1px;
  color: #909090;
}

#app .login-container .left-col .login-wrapper form .form-row input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #bfbfbf;
  -webkit-transition: .3s linear all;
  transition: .3s linear all;
  width: 100%;
  color: #bfa819;
  padding: 7px 0;
}

#app .login-container .left-col .login-wrapper form .form-row input:active,
#app .login-container .left-col .login-wrapper form .form-row input:focus {
  border-color: #bfa819;
  -webkit-transition: .3s linear all;
  transition: .3s linear all;
}

#app .login-container .left-col .login-wrapper form .form-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#app .login-container .left-col .login-wrapper form .form-controls a {
  color: #909090;
  -webkit-transition: .3s linear all;
  transition: .3s linear all;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 11px;
  border-bottom: 1px solid transparent;
}

#app .login-container .left-col .login-wrapper form .form-controls a:hover {
  color: #757575;
  border-color: #bfa819;
  -webkit-transition: .3s linear all;
  transition: .3s linear all;
}

#app .login-container .left-col .login-wrapper form .form-controls .submit-btn {
  color: #fff;
  background-color: #bfa819;
  padding: 5px 25px;
  border-radius: 2px;
  -webkit-transition: .3s linear all;
  transition: .3s linear all;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 1.15em;
}

#app .login-container .left-col .login-wrapper form .form-controls .submit-btn:hover {
  cursor: pointer;
  background-color: #757575;
  -webkit-transition: .3s linear all;
  transition: .3s linear all;
}

#app .login-container .left-col .copyright {
  text-transform: uppercase;
  color: #252525;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  bottom: 20px;
  letter-spacing: 1px;
  padding: 0 20px;
  max-width: 360px;
}

@media (max-width: 800px) {
  #app .login-container .left-col .copyright {
    text-align: left;
  }
}

@media (max-width: 768px) {
  #app .login-container .left-col .copyright {
    padding: 0 0 30px;
    position: static;
    width: 100%;
    text-align: left;
  }
}

#app .login-container .left-col .copyright a {
  color: #252525;
  text-decoration: none;
}

#app .login-container .left-col .copyright a:hover {
  color: #bfa819;
}

#app .login-container .left-col .copyright p {
  margin: 0;
  font-size: .8em;
}

#app .login-container .left-col .copyright h5 {
  margin: 3px 0 0;
  font-weight: 400;
  font-size: .6em;
}

#app .login-container .right-col {
  background-color: #191919;
  background-image: url("/img/wood-bkg.jpg");
  background-image: url(/images/wood-bkg.jpg?23af2e065fa803836af13c7b13111a5e);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: -4px 0px 15px 4px rgba(0, 0, 0, 0.5);
          box-shadow: -4px 0px 15px 4px rgba(0, 0, 0, 0.5);
  z-index: 5;
}

@media (max-width: 768px) {
  #app .login-container .right-col {
    padding: 20px;
  }
}

#app .login-container .right-col .branding {
  text-align: center;
}

#app .login-container .right-col .branding img {
  max-width: 307px;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

@media (max-width: 1068px) {
  #app .login-container .right-col .branding img {
    max-width: 250px;
  }
}

@media (max-width: 600px) {
  #app .login-container .right-col .branding img {
    max-width: 200px;
  }
}

#app .login-container .right-col .branding h1 {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 10px;
  font-size: 2.75em;
  text-shadow: 4px 11px 16px rgba(0, 0, 0, 0.75);
  font-weight: 300;
  margin-top: 0;
}

@media (max-width: 1068px) {
  #app .login-container .right-col .branding h1 {
    font-size: 2em;
  }
}

@media (max-width: 800px) {
  #app .login-container .right-col .branding h1 {
    font-size: 1.5em;
  }
}

@media (max-width: 360px) {
  #app .login-container .right-col .branding h1 {
    font-size: 1.25em;
  }
}

#app .login-container .left-col,
#app .login-container .right-col {
  height: 100vh;
}

@media (max-width: 768px) {
  #app .login-container .left-col,
  #app .login-container .right-col {
    height: 100%;
    width: auto;
  }
}

#app .app-content .app-body .dashboard-nav .box {
  padding: 0;
  margin: 10px 0;
}

#app .app-content .app-body .dashboard-nav .box a {
  display: block;
  height: 200px;
  width: 100%;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: .2s linear all;
  transition: .2s linear all;
}

#app .app-content .app-body .dashboard-nav .box a svg {
  color: #bfa819;
  font-size: 3.5em;
  margin-bottom: 20px;
  -webkit-transition: .2s linear all;
  transition: .2s linear all;
}

#app .app-content .app-body .dashboard-nav .box a span {
  text-transform: uppercase;
  color: #fff;
  font-size: 1.2em;
  font-weight: 300;
  display: block;
  letter-spacing: 5px;
  padding: 0 10px;
}

@media (max-width: 981px) {
  #app .app-content .app-body .dashboard-nav .box a span {
    font-size: .8em;
  }
}

#app .app-content .app-body .dashboard-nav .box a:hover {
  background-color: #bfa819;
  -webkit-transition: .2s linear all;
  transition: .2s linear all;
}

#app .app-content .app-body .dashboard-nav .box a:hover svg {
  margin-bottom: 5px;
  color: #564b04;
  -webkit-transition: .2s linear all;
  transition: .2s linear all;
}

#app .app-content {
  margin-left: 0;
  -webkit-transition: .3s ease-in-out all;
  transition: .3s ease-in-out all;
}

#app .app-content .hidden {
  display: none;
}

#app .app-content .collapsed {
  height: 0;
  overflow: hidden;
}

#app .app-content .app-body {
  padding: 0 20px;
  max-width: 1340px;
  margin: auto;
  margin-top: 67px;
}

#app .app-content .app-body .page-header h2 {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 400;
  color: #bfa819;
  letter-spacing: 4px;
  border-bottom: 1px solid #bfa819;
  margin: 40px 0 10px;
}

#app .app-content .app-body .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#app .app-content .app-body .btn-container .btn {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

#app .app-content .app-body .btn {
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  padding: 10px 25px;
  text-decoration: none;
  letter-spacing: 2px;
  text-align: center;
  font-size: 16px;
  margin: 10px 5px;
  -webkit-transition: .2s linear all;
  transition: .2s linear all;
  border-radius: 2px;
  border: 0;
}

@media (max-width: 600px) {
  #app .app-content .app-body .btn {
    font-size: 1em;
  }
}

#app .app-content .app-body .btn.small {
  max-width: 215px;
}

#app .app-content .app-body .btn.yellow {
  background-color: #bfa819;
}

#app .app-content .app-body .btn.yellow:hover {
  background-color: #7b6d10;
  -webkit-transition: .2s linear all;
  transition: .2s linear all;
}

#app .app-content .app-body .btn.blue {
  background-color: #1d566d;
}

#app .app-content .app-body .btn.blue:hover {
  background-color: #0d2631;
  -webkit-transition: .2s linear all;
  transition: .2s linear all;
}

#app .app-content .app-body .btn.green {
  background-color: #27722e;
}

#app .app-content .app-body .btn.green:hover {
  background-color: #143917;
  -webkit-transition: .2s linear all;
  transition: .2s linear all;
}

#app .app-content .app-body .btn.red {
  background-color: #6d3333;
}

#app .app-content .app-body .btn.red:hover {
  background-color: #391b1b;
  -webkit-transition: .2s linear all;
  transition: .2s linear all;
}

#app .app-content .app-body .btn.grey {
  background-color: #7d7d7d;
}

#app .app-content .app-body .btn.grey:hover {
  background-color: #3d3d3d;
  -webkit-transition: .2s linear all;
  transition: .2s linear all;
}

#app .app-content .app-body .box {
  background-color: #25292d;
  background-color: rgba(37, 41, 45, 0.8);
  padding: 20px;
  border-bottom: 1px solid #bfa819;
  margin: 20px 0;
}

#app .app-content .app-body .box h3.box-header {
  color: #f4f4f4;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 5px;
  font-size: 1.6em;
}

@media (max-width: 600px) {
  #app .app-content .app-body .box h3.box-header {
    text-align: left;
    font-size: 1.4em;
  }
}

#app .app-content .app-body .box h4 {
  color: #bfa819;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 1.2em;
  margin: 1em 0;
}

@media (max-width: 600px) {
  #app .app-content .app-body .box h4 {
    font-size: 1em;
  }
}

#app .app-content .app-body .box hr {
  border-color: #675800;
  margin: 2em 0;
}

#app .app-content .app-body .box p {
  color: #cccccc;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 1em 0;
}

@media (max-width: 600px) {
  #app .app-content .app-body .box p {
    font-size: .9em;
  }
}

#app .app-content .app-body .box .details {
  border-top: 1px solid #564b04;
  margin: 2em 0;
}

#app .app-content .app-body .box .details .info-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .75em .5em;
  border-bottom: 1px solid #564b04;
}

#app .app-content .app-body .box .details .info-group h4 {
  width: 100%;
  margin: 0;
  min-width: 115px;
}

@media (max-width: 768px) {
  #app .app-content .app-body .box .details .info-group h4 {
    max-width: 50%;
  }
}

#app .app-content .app-body .box .details .info-group p {
  text-align: right;
  width: 100%;
  margin: 0;
  margin-right: 15px;
}

@media (max-width: 360px) {
  #app .app-content .app-body .box .details .info-group p {
    white-space: nowrap;
    max-width: 114px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

#app .app-content .app-body .box .details .info-group button {
  color: #fff;
  background-color: #bfa819;
  border-radius: 5px;
  border: none;
  padding: 7px 10px;
  -webkit-transition: .2s linear all;
  transition: .2s linear all;
}

#app .app-content .app-body .box .details .info-group button:hover {
  cursor: pointer;
  background-color: #757575;
  -webkit-transition: .2s linear all;
  transition: .2s linear all;
}

#app .app-content .app-body .box .form-wrapper {
  margin: 2em 0;
}

#app .app-content .app-body .box .form-wrapper.update-form {
  margin: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#app .app-content .app-body .box .form-wrapper.update-form.opened {
  border-bottom: 1px solid #564b04;
}

#app .app-content .app-body .box .form-wrapper.update-form form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
}

#app .app-content .app-body .box .form-wrapper.update-form form input,
#app .app-content .app-body .box .form-wrapper.update-form form select,
#app .app-content .app-body .box .form-wrapper.update-form form textarea {
  width: 100%;
  background-color: #1c1f22;
  background-color: rgba(0, 0, 0, 0.2);
  border: 0;
  border-radius: 2px;
  height: 50px;
  color: #fff;
  padding: 10px;
}

#app .app-content .app-body .box .form-wrapper.update-form form input:focus,
#app .app-content .app-body .box .form-wrapper.update-form form input:active,
#app .app-content .app-body .box .form-wrapper.update-form form select:focus,
#app .app-content .app-body .box .form-wrapper.update-form form select:active,
#app .app-content .app-body .box .form-wrapper.update-form form textarea:focus,
#app .app-content .app-body .box .form-wrapper.update-form form textarea:active {
  outline: none;
}

#app .app-content .app-body .box .form-wrapper.update-form form .update-btn {
  margin: 0 0 0 15px;
  height: 50px;
}

#app .app-content .app-body .box .form-wrapper form .form-group {
  margin: 10px 0;
}

#app .app-content .app-body .box .form-wrapper form .form-group label {
  color: #bfa819;
  font-size: 1.2em;
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

#app .app-content .app-body .box .form-wrapper form .form-group input,
#app .app-content .app-body .box .form-wrapper form .form-group select,
#app .app-content .app-body .box .form-wrapper form .form-group textarea {
  width: 100%;
  background-color: #1c1f22;
  background-color: rgba(0, 0, 0, 0.2);
  border: 0;
  border-radius: 2px;
  height: 50px;
  color: #fff;
  padding: 10px;
}

#app .app-content .app-body .box .form-wrapper form .form-group input:focus,
#app .app-content .app-body .box .form-wrapper form .form-group input:active,
#app .app-content .app-body .box .form-wrapper form .form-group select:focus,
#app .app-content .app-body .box .form-wrapper form .form-group select:active,
#app .app-content .app-body .box .form-wrapper form .form-group textarea:focus,
#app .app-content .app-body .box .form-wrapper form .form-group textarea:active {
  outline: none;
}

#app .app-content .app-body .box .form-wrapper form .form-group select {
  -webkit-appearance: none;
  background-image: url(/images/select.png?364624c618e90e273b6ae70877185bc7);
  background-repeat: no-repeat;
  background-position: 95% center;
}

@media (min-width: 768px) {
  #app .app-content .app-body .box .form-wrapper form .form-group select {
    background-position: 98% center;
  }
}

#app .app-content .app-body .box .form-wrapper form .form-group textarea {
  min-height: 150px;
  padding: 10px;
}

#app .app-content .app-body .box .form-wrapper form .form-group.checkbox-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 57px;
  margin-left: 5px;
}

@media (max-width: 767px) {
  #app .app-content .app-body .box .form-wrapper form .form-group.checkbox-wrapper {
    margin: 1em 0;
  }
}

#app .app-content .app-body .box .form-wrapper form .form-group.checkbox-wrapper .checkbox-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 767px) {
  #app .app-content .app-body .box .form-wrapper form .form-group.checkbox-wrapper .checkbox-group {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 200px;
            flex: 1 1 200px;
  }
}

#app .app-content .app-body .box .form-wrapper form .form-group.checkbox-wrapper .checkbox-group label {
  color: #fff;
  width: auto;
  margin: 0 10px;
}

#app .app-content .app-body .box .form-wrapper form .form-group.checkbox-wrapper .checkbox-group input[type="checkbox"] {
  width: auto;
  height: auto;
  position: relative;
  top: 7px;
}

#app .app-content .app-body .box .form-wrapper form .form-controls button {
  border: none;
  border-radius: 2px;
  padding: 10px 25px;
  min-width: 200px;
  outline: none;
}

@media (max-width: 600px) {
  #app .app-content .app-body .box .form-wrapper form .form-controls button {
    display: block;
    width: 100%;
    margin: 10px 0;
  }
}

#app .app-content .app-body .box .table-wrapper .dataTables_length,
#app .app-content .app-body .box .table-wrapper .dataTables_filter {
  margin-bottom: 1em;
}

#app .app-content .app-body .box .table-wrapper table.dataTable {
  border-collapse: collapse;
  margin: 1em 0;
}

#app .app-content .app-body .box .table-wrapper table.dataTable thead tr {
  background-color: #bfa819;
}

#app .app-content .app-body .box .table-wrapper table.dataTable thead tr th,
#app .app-content .app-body .box .table-wrapper table.dataTable thead tr td {
  border: 1px solid #83731a;
  border-bottom: 3px solid #5c5000;
  color: #fff;
  text-align: left;
  padding: 10px;
  font-weight: 400;
}

#app .app-content .app-body .box .table-wrapper table.dataTable thead tr th:first-of-type,
#app .app-content .app-body .box .table-wrapper table.dataTable thead tr td:first-of-type {
  border-left: 0;
}

#app .app-content .app-body .box .table-wrapper table.dataTable thead tr th:last-of-type,
#app .app-content .app-body .box .table-wrapper table.dataTable thead tr td:last-of-type {
  border-right: 0;
}

#app .app-content .app-body .box .table-wrapper table.dataTable tbody tr > .sorting_1 {
  background-color: transparent;
}

#app .app-content .app-body .box .table-wrapper table.dataTable tbody tr.odd {
  background-color: #24272b;
}

#app .app-content .app-body .box .table-wrapper table.dataTable tbody tr.even {
  background-color: #2f3236;
}

#app .app-content .app-body .box .table-wrapper table.dataTable tbody tr td {
  color: #fff;
  border: 1px solid #525252;
  padding: 10px;
  text-align: center;
}

@media (max-width: 400px) {
  #app .app-content .app-body .box .table-wrapper table.dataTable tbody tr td {
    padding: 10px 25px;
  }
}

#app .app-content .app-body .box .table-wrapper table.dataTable tbody tr td.child {
  background-color: #252525;
}

#app .app-content .app-body .box .table-wrapper table.dataTable tbody tr td.child ul {
  text-align: left;
  width: 100%;
  display: block;
}

#app .app-content .app-body .box .table-wrapper table.dataTable tbody tr td .btn {
  margin: 0;
  font-size: 1em;
  padding: 5px 15px;
}

#app .app-content .app-body .box .table-wrapper .dataTables_wrapper .dataTables_length,
#app .app-content .app-body .box .table-wrapper .dataTables_wrapper .dataTables_filter,
#app .app-content .app-body .box .table-wrapper .dataTables_wrapper .dataTables_info,
#app .app-content .app-body .box .table-wrapper .dataTables_wrapper .dataTables_processing,
#app .app-content .app-body .box .table-wrapper .dataTables_wrapper .dataTables_paginate {
  color: #fff;
}

#app .app-content .header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-box-shadow: 1px 4px 14px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 4px 14px 2px rgba(0, 0, 0, 0.5);
  height: 67px;
  -webkit-transition: .3s ease-in-out all;
  transition: .3s ease-in-out all;
  z-index: 100;
}

#app .app-content .header .mainnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #bfa819;
  height: 67px;
}

#app .app-content .header .mainnav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#app .app-content .header .mainnav .navbar a {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  padding: 20px;
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 20px;
  cursor: pointer;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: .15s;
          transition-duration: .15s;
  -webkit-transition-property: opacity,-webkit-filter;
  transition-property: opacity,-webkit-filter;
  transition-property: opacity,filter;
  transition-property: opacity,filter,-webkit-filter;
  text-transform: none;
  color: inherit;
  border: 0;
}

@media (max-width: 360px) {
  #app .app-content .header .mainnav .navbar a {
    padding: 20px 15px;
  }
}

#app .app-content .header .mainnav .navbar a .hamburger-box {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

#app .app-content .header .mainnav .navbar a .hamburger-inner,
#app .app-content .header .mainnav .navbar a .hamburger-inner:after,
#app .app-content .header .mainnav .navbar a .hamburger-inner:before {
  position: absolute;
  width: 40px;
  height: 4px;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .15s;
          transition-duration: .15s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  border-radius: 4px;
  background-color: #000;
}

#app .app-content .header .mainnav .navbar a .hamburger-inner,
#app .app-content .header .mainnav .navbar a .hamburger-inner:after,
#app .app-content .header .mainnav .navbar a .hamburger-inner:before {
  background-color: #fff;
}

#app .app-content .header .mainnav .navbar a .hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -2px;
}

#app .app-content .header .mainnav .navbar a .hamburger-inner:before {
  top: 10px;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .15s;
          transition-duration: .15s;
  -webkit-transition-property: opacity,-webkit-transform;
  transition-property: opacity,-webkit-transform;
  transition-property: transform,opacity;
  transition-property: transform,opacity,-webkit-transform;
}

#app .app-content .header .mainnav .navbar a .hamburger-inner:before {
  top: -10px;
}

#app .app-content .header .mainnav .navbar a .hamburger-inner:after,
#app .app-content .header .mainnav .navbar a .hamburger-inner:before {
  display: block;
  content: "";
}

#app .app-content .header .mainnav .navbar a .hamburger-inner,
#app .app-content .header .mainnav .navbar a .hamburger-inner:after,
#app .app-content .header .mainnav .navbar a .hamburger-inner:before {
  position: absolute;
  width: 40px;
  height: 4px;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .15s;
          transition-duration: .15s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  border-radius: 4px;
  background-color: #fff;
}

#app .app-content .header .mainnav .navbar a .hamburger-inner:after {
  bottom: -10px;
}

#app .app-content .header .mainnav .navbar a.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#app .app-content .header .mainnav .navbar a.is-active .hamburger-inner:before {
  -webkit-transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
          transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}

#app .app-content .header .mainnav .navbar a.is-active .hamburger-inner:after {
  -webkit-transform: translate3d(0, -11px, 0) rotate(-90deg);
          transform: translate3d(0, -11px, 0) rotate(-90deg);
}

#app .app-content .header .mainnav .navbar h2 {
  color: #fff;
  font-weight: 300;
  letter-spacing: 4px;
}

@media (max-width: 600px) {
  #app .app-content .header .mainnav .navbar h2 {
    font-size: 14px;
  }
}

@media (max-width: 420px) {
  #app .app-content .header .mainnav .navbar h2 {
    font-size: 11px;
    letter-spacing: 2px;
  }
}

#app .app-content .header .mainnav .user-info {
  position: relative;
}

@media (min-width: 450px) {
  #app .app-content .header .mainnav .user-info {
    min-width: 200px;
  }
}

@media (max-width: 365px) {
  #app .app-content .header .mainnav .user-info {
    min-width: auto;
  }
}

#app .app-content .header .mainnav .user-info a {
  color: #fff;
  text-decoration: none;
  display: block;
  font-size: 16px;
  letter-spacing: 5px;
  font-weight: 300;
  padding: 20px;
  border-left: 1px solid rgba(24, 25, 28, 0.4);
  -webkit-transition: .2s linear all;
  transition: .2s linear all;
  line-height: 23px;
  position: relative;
  z-index: 10;
}

@media (max-width: 600px) {
  #app .app-content .header .mainnav .user-info a {
    font-size: 14px;
    padding: 20px 10px;
  }
}

@media (max-width: 420px) {
  #app .app-content .header .mainnav .user-info a {
    font-size: 11px;
    letter-spacing: 2px;
  }
}

#app .app-content .header .mainnav .user-info a span {
  vertical-align: middle;
}

#app .app-content .header .mainnav .user-info a span:nth-child(1) {
  margin-right: 10px;
  color: #574c00;
  font-size: 24px;
  -webkit-transition: .2s linear all;
  transition: .2s linear all;
  display: inline-block;
}

#app .app-content .header .mainnav .user-info a span:nth-child(1) svg {
  margin-right: 5px;
  vertical-align: middle;
}

@media (max-width: 365px) {
  #app .app-content .header .mainnav .user-info a span:nth-child(1) {
    margin: 0;
    padding: 0 20px;
  }
}

#app .app-content .header .mainnav .user-info a span.user-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  display: inline-block;
  overflow: hidden;
  max-width: 400px;
}

@media (max-width: 768px) {
  #app .app-content .header .mainnav .user-info a span.user-name {
    max-width: 200px;
  }
}

@media (max-width: 600px) {
  #app .app-content .header .mainnav .user-info a span.user-name {
    max-width: 120px;
  }
}

@media (max-width: 365px) {
  #app .app-content .header .mainnav .user-info a span.user-name {
    display: none;
  }
}

#app .app-content .header .mainnav .user-info a:hover {
  background-color: #333333;
  -webkit-transition: .2s linear all;
  transition: .2s linear all;
}

#app .app-content .header .mainnav .user-info a:hover span {
  color: #bfa819;
  -webkit-transition: .2s linear all;
  transition: .2s linear all;
}

#app .app-content .header .mainnav .user-info .user-slidein {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 100%;
  right: 0;
  -webkit-transition: .2s linear all;
  transition: .2s linear all;
  z-index: 5;
  pointer-events: none;
  opacity: 0;
}

@media (max-width: 365px) {
  #app .app-content .header .mainnav .user-info .user-slidein {
    min-width: 160px;
  }
}

#app .app-content .header .mainnav .user-info .user-slidein ul {
  padding: 0;
  margin: 0;
  -webkit-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);
  min-width: 200px;
  background-color: #000;
}

#app .app-content .header .mainnav .user-info .user-slidein ul li {
  list-style: none;
}

#app .app-content .header .mainnav .user-info .user-slidein ul li a {
  padding: 20px;
  display: block;
  font-size: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

#app .app-content .header .mainnav .user-info .user-slidein ul li a:hover {
  background-color: #6d6d6d;
}

#app .app-content .header .mainnav .user-info .user-slidein ul li a svg {
  margin-right: 10px;
}

#app .app-content .header .mainnav .user-info.open {
  background-color: #333333;
  -webkit-transition: .2s linear all;
  transition: .2s linear all;
}

#app .app-content .header .mainnav .user-info.open a span {
  color: #bfa819;
}

#app .app-content .header .mainnav .user-info.open .user-slidein {
  left: 0;
  pointer-events: auto;
  opacity: 1;
  -webkit-transition: .2s linear all;
  transition: .2s linear all;
}

@media (max-width: 365px) {
  #app .app-content .header .mainnav .user-info.open .user-slidein {
    left: -70px;
  }
}

#app .nav-panel {
  width: 20%;
  height: 100vh;
  background-color: #25292d;
  z-index: 100;
  top: 0px;
  left: 0;
  padding-top: 67px;
  position: fixed;
  overflow: hidden;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: .2s linear all;
  transition: .2s linear all;
  -webkit-box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}

@media (min-width: 769px) {
  #app .nav-panel {
    background-color: rgba(37, 41, 45, 0.8);
  }
}

#app .nav-panel ul {
  padding: 0;
  margin: 0;
}

#app .nav-panel ul li {
  list-style: none;
}

#app .nav-panel ul li a {
  display: block;
  padding: 20px 35px 20px 20px;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .2s linear all;
  transition: .2s linear all;
  font-size: 12px;
}

@media (max-width: 920px) {
  #app .nav-panel ul li a {
    font-size: 11px;
  }
}

#app .nav-panel ul li a svg {
  margin-right: 10px;
  margin-top: 3px;
}

#app .nav-panel ul li a:hover {
  color: #bfa819;
  background-color: #1b1b1b;
  -webkit-transition: .2s linear all;
  transition: .2s linear all;
}

#app .nav-panel ul li.active a {
  color: #bfa819;
}

#app .nav-panel ul li.has-submenu {
  position: relative;
}

#app .nav-panel ul li.has-submenu > span.subnav-toggle {
  position: absolute;
  height: 58px;
  width: 35px;
  right: 0;
  top: 0;
  color: #fff;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: auto;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  -webkit-transition: .2s linear all;
  transition: .2s linear all;
}

#app .nav-panel ul li.has-submenu > span.subnav-toggle:hover {
  background-color: #4e4e4e;
  -webkit-transition: .2s linear all;
  transition: .2s linear all;
}

#app .nav-panel ul li.has-submenu > ul {
  background-color: #4e4e4e;
  height: 0;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: .2s linear all;
  transition: .2s linear all;
}

#app .nav-panel ul li.has-submenu.open .subnav-toggle {
  background-color: #4e4e4e;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#app .nav-panel ul li.has-submenu.open > ul {
  height: 100%;
  pointer-events: auto;
  opacity: 1;
  -webkit-transition: .2s linear all;
  transition: .2s linear all;
}

@media (min-width: 769px) {
  #app.nav-open .app-content {
    margin-left: 20%;
    -webkit-transition: .3s ease-in-out all;
    transition: .3s ease-in-out all;
  }

  #app.nav-open .app-content .header {
    -webkit-transition: .3s ease-in-out all;
    transition: .3s ease-in-out all;
  }

  #app.nav-open .app-content .header .mainnav .navbar h2 a {
    background-color: #333333;
  }

  #app.nav-open .nav-panel {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: .3s ease-in-out all;
    transition: .3s ease-in-out all;
  }
}

@media (max-width: 768px) {
  #app.nav-open .nav-panel {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: .3s ease-in-out all;
    transition: .3s ease-in-out all;
    width: 100%;
  }
}

body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#202226+0,1c1e22+100 */
  background: #202226;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #202226 0%, #1c1e22 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202226', endColorstr='#1c1e22',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

#app {
  font-size: 14px;
}

#app .app-content .footer {
  padding: 0 20px;
  max-width: 1340px;
  margin: auto;
  text-align: right;
  padding-top: 20px;
  padding-bottom: 20px;
}

#app .app-content .footer h5 {
  color: #6e6e6e;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#202226+0,1c1e22+100 */
  background: #202226;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #202226 0%, #1c1e22 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202226', endColorstr='#1c1e22',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

#app {
  font-size: 14px;
}

#app button:focus {
  outline: none;
}

#app input,
#app textarea,
#app select {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#app .hidden {
  display: none !important;
}

#app .collapsed {
  height: 0;
  overflow: hidden;
}

#app .collapsed.box {
  padding: 0;
}

#app .opened {
  height: 7.5em;
  overflow: hidden;
}

