//font setup
$font-family: 'Open Sans', sans-serif;

//mixins
@mixin container {
    padding: 0 20px;
    max-width: 1340px;
    margin: auto;
}

//container
$container: 1340px;

//colors
$yellow: #bfa819;
$dkyellow: #564b04;
$green: #27722e;
$blue: #1d566d;
$red: #6d3333;
$grey: #7d7d7d;
$boxBkg: #25292d;

//general
html {
    font: 100%/1.5 $font-family;
    height: 100%;
}
body {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#202226+0,1c1e22+100 */
	background: rgb(32,34,38); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(32,34,38,1) 0%, rgba(28,30,34,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(32,34,38,1) 0%,rgba(28,30,34,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(32,34,38,1) 0%,rgba(28,30,34,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202226', endColorstr='#1c1e22',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#app {
	font-size: 14px;
}
