#app {
	.app-content {
		.header {
			position: fixed;
			width: 100%;
			left: 0;
			top: 0;
			box-shadow: 1px 4px 14px 2px rgba(0, 0, 0, 0.5);
			height: 67px;
			transition: .3s ease-in-out all;
			z-index: 100;
			.mainnav {
				display: flex;
				align-items: center;
				justify-content: space-between;
				background-color: $yellow;
				height: 67px;
				.navbar {
					display: flex;
					align-items: center;
					a {
						position: relative;
						display: inline-block;
						width: 40px;
						height: 24px;
						padding: 20px;
						font: inherit;
						display: inline-block;
						overflow: visible;
						margin: 0;
						padding: 20px;
						cursor: pointer;
						transition-timing-function: linear;
						transition-duration: .15s;
						transition-property: opacity,filter;
						text-transform: none;
						color: inherit;
						border: 0;
						@media(max-width: 360px) {
							padding: 20px 15px;
						}
						.hamburger-box {
							position: relative;
							display: inline-block;
							width: 40px;
							height: 24px;
						}
						.hamburger-inner,
						.hamburger-inner:after,
						.hamburger-inner:before {
							position: absolute;
							width: 40px;
							height: 4px;
							transition-timing-function: ease;
							transition-duration: .15s;
							transition-property: transform;
							border-radius: 4px;
							background-color: #000;
						}
						.hamburger-inner,
						.hamburger-inner:after,
						.hamburger-inner:before {
							background-color: #fff;
						}
						.hamburger-inner {
							top: 50%;
							display: block;
							margin-top: -2px;
						}
						.hamburger-inner:before {
							top: 10px;
							transition-timing-function: ease;
							transition-duration: .15s;
							transition-property: transform,opacity;
						}
						.hamburger-inner:before {
							top: -10px;
						}
						.hamburger-inner:after,
						.hamburger-inner:before {
							display: block;
							content: "";
						}
						.hamburger-inner,
						.hamburger-inner:after,
						.hamburger-inner:before {
							position: absolute;
							width: 40px;
							height: 4px;
							transition-timing-function: ease;
							transition-duration: .15s;
							transition-property: transform;
							border-radius: 4px;
							background-color: #fff;
						}
						.hamburger-inner:after {
							bottom: -10px;
						}
						&.is-active {
							.hamburger-inner {
								transform: rotate(45deg);
								&:before {
									transform: rotate(-45deg) translate3d(-5.71429px,-6px,0);
									opacity: 0;
								}
								&:after {
									transform: translate3d(0,-11px,0) rotate(-90deg);
								}
							}
						}
					}
					h2 {
						color: #fff;
						font-weight: 300;
						letter-spacing: 4px;
						@media(max-width: 600px) {
							font-size: 14px;
						}
						@media(max-width: 420px) {
							font-size: 11px;
							letter-spacing: 2px;
						}
					}
				}
				.user-info {
					position: relative;
					@media(min-width: 450px) {
						min-width: 200px;
					}
					@media(max-width: 365px) {
						min-width: auto;
					}
					a {
						color: #fff;
						text-decoration: none;
						display: block;
						font-size: 16px;
						letter-spacing: 5px;
						font-weight: 300;
						padding: 20px;
						border-left: 1px solid rgba(24, 25, 28, 0.4);
						transition: .2s linear all;
						line-height: 23px;
						position: relative;
						z-index: 10;
						@media(max-width: 600px) {
							font-size: 14px;
							padding: 20px 10px;
						}
						@media(max-width: 420px) {
							font-size: 11px;
							letter-spacing: 2px;
						}
						span {
							vertical-align: middle;
							&:nth-child(1) {
								margin-right: 10px;
								color: #574c00;
								font-size: 24px;
								transition: .2s linear all;
								display: inline-block;
								svg {
									margin-right: 5px;
									vertical-align: middle;
								}
								@media(max-width: 365px) {
									margin: 0;
									padding: 0 20px;
								}
							}
							&.user-name {
								white-space: nowrap;
							    text-overflow: ellipsis;
							    display: inline-block;
							    display: inline-block;
							    overflow: hidden;
								max-width: 400px;
								@media(max-width: 768px) {
 									max-width: 200px;
								}
								@media(max-width: 600px) {
									max-width: 120px;
								}
								@media(max-width: 365px) {
									display: none;
								}
							}
						}
						&:hover {
							background-color: #333333;
							transition: .2s linear all;
							span {
								color: $yellow;
								transition: .2s linear all;
							}
						}
					}
					.user-slidein {
						position: absolute;
						top: 100%;
						width: 100%;
						left: 100%;
						right: 0;
						transition: .2s linear all;
						z-index: 5;
						pointer-events: none;
						opacity: 0;
						@media(max-width: 365px) {
							min-width: 160px;
						}
						ul {
							padding: 0;
							margin: 0;
							box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);
							min-width: 200px;
							background-color: #000;
							li {
								list-style: none;
								a {
									padding: 20px;
									display: block;
									font-size: 12px;
									border-top: 1px solid rgba(255, 255, 255, 0.2);
									&:hover {
										background-color: #6d6d6d;
									}
									svg {
										margin-right: 10px;
									}
								}
							}
						}
					}
					&.open {
						background-color: #333333;
						transition: .2s linear all;
						a {
							span {
								color: $yellow;
							}
						}
						.user-slidein {
							left: 0;
							pointer-events: auto;
							opacity: 1;
							transition: .2s linear all;
							@media(max-width: 365px) {
								left: -70px;
							}
						}
					}
				}
			}
		}
	}
	//Left Nav bar
	.nav-panel {
		width: 20%;
		height: 100vh;
		background-color: #25292d;
		z-index: 100;
		top: 0px;
		left: 0;
		padding-top: 67px;
		position: fixed;
		overflow: hidden;
		transform: translateX(-100%);
		transition: .2s linear all;
		box-shadow: 2px 4px 7px rgba(0, 0, 0, .5);
		overflow-y: auto;
		@media(min-width: 769px) {
			background-color: rgba(37,41,45,0.8);
		}
		ul {
			padding: 0;
			margin: 0;
			li {
				list-style: none;
				a {
					display: block;
					padding: 20px 35px 20px 20px;
					color: #fff;
					text-decoration: none;
					border-bottom: 1px solid rgba(255, 255, 255, 0.1);
					display: flex;
					transition: .2s linear all;
					font-size: 12px;
					@media(max-width: 920px) {
						font-size: 11px;
					}
					svg {
						margin-right: 10px;
						margin-top: 3px;
					}
					&:hover {
						color: $yellow;
						background-color: #1b1b1b;
						transition: .2s linear all;
					}
				}
				&.active {
					a {
						color: $yellow;
					}
				}
				&.has-submenu {
					position: relative;
					> span.subnav-toggle {
						position: absolute;
						height: 58px;
						width: 35px;
						right: 0;
						top: 0;
						color: #fff;
						z-index: 100;
						display: flex;
						align-items: center;
						justify-content: center;
						pointer-events: auto;
						cursor: pointer;
						border-bottom: 1px solid transparent;
						transition: .2s linear all;
						&:hover {
							background-color: #4e4e4e;
							transition: .2s linear all;
						}
					}
					> ul {
						background-color: #4e4e4e;
						height: 0;
						pointer-events: none;
						opacity: 0;
						transition: .2s linear all;
						> li {
							a {

							}
						}
					}
					&.open {
						.subnav-toggle {
							background-color: #4e4e4e;
							border-bottom: 1px solid rgba(255, 255, 255, 0.1);
						}
						> ul {
							height: 100%;
							pointer-events: auto;
							opacity: 1;
							transition: .2s linear all;
						}
					}
				}
			}
		}
	}
	&.nav-open {
		@media(min-width: 769px) {
			.app-content {
			    margin-left: 20%;
				transition: .3s ease-in-out all;
				.header {
					transition: .3s ease-in-out all;
					.mainnav {
						.navbar {
							h2 {
								a {
									background-color: #333333;
								}
							}
						}
					}
				}
			}
			.nav-panel {
				transform: translateX(0);
				transition: .3s ease-in-out all;
			}
		}
		@media(max-width: 768px) {
			.nav-panel {
				transform: translateX(0);
				transition: .3s ease-in-out all;
				width: 100%;
			}
		}
	}
}
