#app {
	.app-content {
		margin-left: 0;
		transition: .3s ease-in-out all;
		.hidden {
			display: none;
		}
		.collapsed {
			height: 0;
			overflow: hidden;
		}
		.app-body {
			@include container;
			margin-top: 67px;
			//header
			.page-header {
				h2 {
					display: inline-block;
					text-transform: uppercase;
					font-weight: 400;
					color: $yellow;
					letter-spacing: 4px;
					border-bottom: 1px solid $yellow;
					margin: 40px 0 10px;
				}
			}
			//buttons
			.btn-container {
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-wrap: wrap;
				.btn {
					flex: 1 1 auto;
				}
			}
			.btn {
				text-transform: uppercase;
				color: #fff;
				display: inline-block;
				padding: 10px 25px;
				text-decoration: none;
				letter-spacing: 2px;
				text-align: center;
				font-size: 16px;
				margin: 10px 5px;
				transition: .2s linear all;
				border-radius: 2px;
				border: 0;
				@media(max-width: 600px) {
					font-size: 1em;
				}
				@media(max-width: 491px) {
					//display: block;
				}
				&.small {
					max-width: 215px;
				}
				&.yellow {
					background-color: $yellow;
					&:hover {
						background-color: darken($yellow, 15%);
						transition: .2s linear all;
					}
				}
				&.blue {
					background-color: $blue;
					&:hover {
						background-color: darken($blue, 15%);
						transition: .2s linear all;
					}
				}
				&.green {
					background-color: $green;
					&:hover {
						background-color: darken($green, 15%);
						transition: .2s linear all;
					}
				}
				&.red {
					background-color: $red;
					&:hover {
						background-color: darken($red, 15%);
						transition: .2s linear all;
					}
				}
				&.grey {
					background-color: $grey;
					&:hover {
						background-color: darken($grey, 25%);
						transition: .2s linear all;
					}
				}
			}
			//box style
			.box {
				background-color: #25292d;
				background-color: rgba(37, 41, 45, 0.8);
				padding: 20px;
				border-bottom: 1px solid $yellow;
				margin: 20px 0;
				h3.box-header {
					color: #f4f4f4;
					text-align: center;
					text-transform: uppercase;
					font-weight: 300;
					letter-spacing: 5px;
					font-size: 1.6em;
					@media(max-width: 600px) {
						text-align: left;
						font-size: 1.4em;
					}
				}
				h4 {
					color: $yellow;
					text-transform: uppercase;
					font-weight: 400;
					letter-spacing: 1px;
					font-size: 1.2em;
					margin: 1em 0;
					@media(max-width: 600px) {
						font-size: 1em;
					}
				}
				hr {
					border-color: #675800;
					margin: 2em 0;
				}
				p {
					color: #cccccc;
					font-weight: 400;
					letter-spacing: 1px;
					margin: 1em 0;
					@media(max-width: 600px) {
						font-size: .9em;
					}
				}
				//detail group
				.details {
					border-top: 1px solid $dkyellow;
					margin: 2em 0;
					.info-group {
						display: flex;
						align-items: center;
						justify-content: space-between;
						padding: .75em .5em;
						border-bottom: 1px solid $dkyellow;
						h4 {
							width: 100%;
							margin: 0;
							min-width: 115px;
							@media(max-width: 768px) {
								max-width: 50%;
							}
						}
						p {
							text-align: right;
							width: 100%;
							margin: 0;
							margin-right: 15px;
							@media (max-width: 360px) {
								white-space: nowrap;
								max-width: 114px;
								overflow: hidden;
								text-overflow: ellipsis;
							}
						}
						button {
							color: #fff;
							background-color: $yellow;
							border-radius: 5px;
							border: none;
							padding: 7px 10px;
							transition: .2s linear all;
							&:hover {
								cursor: pointer;
								background-color: #757575;
								transition: .2s linear all;
							}
						}
					}
				}
			}
		}
	}
}
