
//Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
//normalize
@import 'normalize.scss';
// Variables (html | body | #app )
@import "variables";
//login
@import "login";
//Dashboard
@import "dashboard";
//app content (body | Datatables)
@import "app-content";
//Forms
@import "forms";
//tables
@import "tables";
//header (Header | Left Panel)
@import "app-header";
//footer
@import "footer";
//general
body {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#202226+0,1c1e22+100 */
	background: rgb(32,34,38); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(32,34,38,1) 0%, rgba(28,30,34,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(32,34,38,1) 0%,rgba(28,30,34,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(32,34,38,1) 0%,rgba(28,30,34,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202226', endColorstr='#1c1e22',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#app {
	font-size: 14px;
	button {
		&:focus {
			outline: none;
		}
	}
	input, textarea, select {
		box-sizing: border-box;
	}
	.hidden {
		display: none !important;
	}
	.collapsed {
		height: 0;
		overflow: hidden;
	}
	.collapsed.box {
		padding: 0;
	}
	.opened {
		height: 7.5em;
		overflow: hidden;
	}
}
