#app {
	.app-content {
		.app-body {
			.dashboard-nav {
				.box {
					padding: 0;
					margin: 10px 0;
					a {
						display: block;
						height: 200px;
						width: 100%;
						text-decoration: none;
						display: flex;
						align-items: center;
						justify-content: center;
						text-align: center;
						flex-direction: column;
						transition: .2s linear all;
						svg {
							color: $yellow;
							font-size: 3.5em;
							margin-bottom: 20px;
							transition: .2s linear all;
						}
						span {
							text-transform: uppercase;
							color: #fff;
							font-size: 1.2em;
							font-weight: 300;
							display: block;
							letter-spacing: 5px;
							padding: 0 10px;
							@media(max-width: 981px) {
								font-size: .8em;
							}
						}
						&:hover {
							background-color: $yellow;
							transition: .2s linear all;
							svg {
								margin-bottom: 5px;
								color: $dkyellow;
								transition: .2s linear all;
							}
						}
					}
				}
			}
		}
	}
}
