#app {
	.app-content {
		//footer
		.footer {
			@include container;
			text-align: right;
			padding-top: 20px;
			padding-bottom: 20px;
			h5 {
				color: #6e6e6e;
				text-transform: uppercase;
				letter-spacing: 3px;
				font-weight: 400;
			}
		}
	}
}
