@mixin inputStyle {
	width: 100%;
	background-color: #1c1f22;
	background-color: rgba(0, 0, 0, .2);
	border: 0;
	border-radius: 2px;
	height: 50px;
	color: #fff;
	padding: 10px;
	&:focus, &:active {
		outline: none;
	}
}
#app {
	.app-content {
		.app-body {
			.box {
				//form styles
				.form-wrapper {
					margin: 2em 0;
					&.update-form {
						margin: 0;
						transition: all .3s;
						display: flex;
						align-items: center;
						justify-content: space-around;
						&.opened {
							border-bottom: 1px solid $dkyellow;
						}
						form {
							width: 100%;
							display: flex;
							align-items: center;
							justify-content: space-around;
							padding: 20px;
							input, select, textarea {
								@include inputStyle;
							}
							.update-btn {
								margin: 0 0 0 15px;
								height: 50px;
							}
						}
					}
					form {
						.form-group {
							margin: 10px 0;
							label {
								color: $yellow;
								font-size: 1.2em;
								display: block;
								margin-bottom: 10px;
								width: 100%;
							}
							input, select, textarea {
								@include inputStyle;
							}
							select {
								-webkit-appearance: none;
								background-image: url(../img/select.png);
								background-repeat: no-repeat;
								background-position: 95% center;
								@media(min-width: 768px) {
									background-position: 98% center;
								}
							}
							textarea {
								min-height: 150px;
								padding: 10px;
							}
							&.checkbox-wrapper {
								display: flex;
								align-items: flex-start;
								flex-wrap: wrap;
								margin-top: 57px;
								margin-left: 5px;
								@media(max-width: 767px) {
									margin: 1em 0;
								}
								.checkbox-group {
									display: flex;
									align-items: flex-start;
									@media(max-width: 767px) {
										flex: 1 1 200px;
									}
									label {
										color: #fff;
										width: auto;
										margin: 0 10px;
									}
									input[type="checkbox"] {
										width: auto;
										height: auto;
										position: relative;
										top: 7px;
									}
								}
							}
						}
						.form-controls {
							button {
								border: none;
								border-radius: 2px;
								padding: 10px 25px;
								min-width: 200px;
								outline: none;
								@media(max-width: 600px) {
									display: block;
									width: 100%;
									margin: 10px 0;
								}
							}
						}
					}
				}
			}
		}
	}
}
