//main class
#app {
	.login-container {
		display: flex;
		justify-content: space-between;
		flex-direction: row-reverse;
		width: 100%;
		@media(max-width: 768px) {
			flex-direction: column;
		}
		.left-col {
			background-color: #fff;
			min-width: 400px;
			position: relative;
			z-index: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			padding: 0 30px;
			@media(max-width: 981px) {
				min-width: 300px;
			}
			@media(max-width: 768px) {
				display: block;
				padding: 0 20px;
			}
			.login-wrapper {
				width: 100%;
				padding: 20px 0 40px;
				@media(min-width: 769px) {
					margin-top: -200px;
					padding: 0;
				}
				h2 {
					color: $yellow;
					font-weight: 300;
					font-size: 38px;
					letter-spacing: 4px;
					@media(max-width: 981px) {
						font-size: 1.4em;
					}
				}
				form {
					.form-row {
						&:nth-child(2) {
							margin: 15px 0;
						}
						label {
							font-size: 11px;
						    text-transform: uppercase;
							color: #252525;
							display: block;
							letter-spacing: 1px;
							color: #909090;
						}
						input {
							border: 0;
						    outline: 0;
						    background: transparent;
							border-bottom: 1px solid #bfbfbf;
							transition: .3s linear all;
							width: 100%;
							color: $yellow;
							padding: 7px 0;
						    &:active, &:focus {
								border-color: $yellow;
								transition: .3s linear all;
							}
						}
					}
					.form-controls {
						display: flex;
						justify-content: space-between;
						align-items: center;
						a {
							color: #909090;
							transition: .3s linear all;
							text-transform: uppercase;
							font-weight: 400;
							letter-spacing: 3px;
							text-decoration: none;
							font-size: 11px;
							border-bottom: 1px solid transparent;
							&:hover {
								color: #757575;
								border-color: $yellow;
								transition: .3s linear all;
							}
						}
						.submit-btn {
							color: #fff;
							background-color: $yellow;
							padding: 5px 25px;
							border-radius: 2px;
							transition: .3s linear all;
							letter-spacing: 2px;
							font-weight: 300;
							font-size: 1.15em;
							&:hover {
								cursor: pointer;
								background-color: #757575;
								transition: .3s linear all;
							}
						}
					}
				}
			}
			.copyright {
				text-transform: uppercase;
				color: #252525;
				text-transform: uppercase;
				text-align: center;
				position: absolute;
				bottom: 20px;
				letter-spacing: 1px;
				padding: 0 20px;
				max-width: 360px;
				@media(max-width: 800px) {
					text-align: left;
				}
				@media(max-width: 768px) {
					padding: 0 0 30px;
					position: static;
					width: 100%;
					text-align: left;
				}
				a {
					color: #252525;
					text-decoration: none;
					&:hover {
						color: $yellow;
					}
				}
				p {
					margin: 0;
					font-size: .8em;
				}
				h5 {
					margin: 3px 0 0;
					font-weight: 400;
					font-size: .6em;
				}
			}
		}
		.right-col {
			background-color: #191919;
			background-image: url('/img/wood-bkg.jpg');
			background-image: url('../img/wood-bkg.jpg');
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			box-shadow: -4px 0px 15px 4px rgba(0, 0, 0, .5);
			z-index: 5;
			@media(max-width: 768px) {
    			padding: 20px;
			}
			.branding {
				text-align: center;
				img {
					max-width: 307px;
					margin: 0 auto;
					width: 100%;
					height: auto;
					@media(max-width: 1068px) {
						max-width: 250px;
					}
					@media(max-width: 600px) {
						max-width: 200px;
					}
				}
				h1 {
					text-transform: uppercase;
					color: #fff;
					letter-spacing: 10px;
					font-size: 2.75em;
					text-shadow: 4px 11px 16px rgba(0, 0, 0, .75);
					font-weight: 300;
					margin-top: 0;
					@media(max-width: 1068px) {
						font-size: 2em;
					}
					@media(max-width: 800px) {
						font-size: 1.5em;
					}
					@media(max-width: 360px) {
						font-size: 1.25em;
					}
				}
			}
		}
		.left-col, .right-col {
			height: 100vh;
			@media(max-width: 768px) {
				height: 100%;
				width: auto;
			}
		}
	}
}
