#app {
	.app-content {
		.app-body {
			.box {
				//data tables styles
				.table-wrapper {
					//table filters
					.dataTables_length,
					.dataTables_filter {
						margin-bottom: 1em;
					}
					//table styles
					table.dataTable {
						border-collapse: collapse;
						margin: 1em 0;
						thead {
							tr {
								background-color: $yellow;
								th,td {
									border: 1px solid #83731a;
									border-bottom: 3px solid #5c5000;
									color: #fff;
									text-align: left;
									padding: 10px;
									font-weight: 400;
									&:first-of-type {
										border-left: 0;
									}
									&:last-of-type {
										border-right: 0;
									}
								}
							}
						}
						tbody {
							tr {
								> .sorting_1 {
									background-color: transparent;
								}
								&.odd {
									background-color: #24272b;
								}
								&.even {
									background-color: #2f3236;
								}
								td {
									color: #fff;
									border: 1px solid #525252;
									padding: 10px;
									text-align: center;
									@media(max-width: 400px) {
										padding: 10px 25px;
									}
									&.child {
										background-color: #252525;
										ul {
											text-align: left;
											width: 100%;
											display: block;
										}
									}
									.btn {
										margin: 0;
										font-size: 1em;
										padding: 5px 15px;
									}
								}
							}
						}
					}
					//table extras
					.dataTables_wrapper .dataTables_length,
					.dataTables_wrapper .dataTables_filter,
					.dataTables_wrapper .dataTables_info,
					.dataTables_wrapper .dataTables_processing,
					.dataTables_wrapper .dataTables_paginate {
						color: #fff;
					}
				}
			}
		}
	}
}
